*{
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(30, 38, 63);
    color: white;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.container h1 span{
    color: coral;
    border-bottom: 2px solid coral;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.display{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    background: white;
    color: black;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.display input{
    font-size: 16px;
    border: 0;
    outline: 0;
}
.display img{
    width: 20px;
    cursor: pointer;
}

.container button img{
    width: 20px;
    margin-right: 10px;

}

.container button{
    border: 0;
    outline: 0;
    background: coral;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}